<div class="w-50 container bg-dark mt-3">
    <form (ngSubmit)="handForgetPassword()" class="p-4 text-white" [formGroup]="ForgetPasswordGroup">
      @if(forminvalidMesage!="")
      {
         <p class="alert alert-danger text-center mt-2 mx-auto">{{forminvalidMesage}}</p>
      }
     
       
         <label for="email">Email</label>
        <input formControlName="email"  class="form-control" type="email"  id="email" >
          
     @if(ForgetPasswordGroup.get('email')?.touched)
       {
              @let emailobj=ForgetPasswordGroup.get("email");
            @if(emailobj?.getError('required'))
            {
            <p class="text-info mt-1 font-sm">u have to enter email</p>
            }

            @if(emailobj?.getError('email'))
            {
                <p class="text-info mt-1 font-sm">u have to enter corect email like alaa gmail.com</p>
            }

       }  
      
        
 
   
         <button  class="btn btn-success px-3 mt-2 " [disabled]="ForgetPasswordGroup.invalid || isloading">
          @if(isloading==false)
          {
               <span>submit</span>
          }
          @else {
              <span class="fa-solid fa-spinner fa-spin"></span>
          }
      
        </button>
     
     
    </form>

</div>

