<div class="w-50 container bg-dark mt-3">
    <form (ngSubmit)="handResetPassword()" class="p-4 text-white" [formGroup]="resetpasswordgroup">
      @if(forminvalidMesage!="")
      {
         <p class="alert alert-danger text-center mt-2 mx-auto">{{forminvalidMesage}}</p>
      }
     
       
         <label for="email">Email</label>
        <input formControlName="email"  class="form-control" type="email"  id="email" >
          
     @if(resetpasswordgroup.get('email')?.touched)
       {
              @let emailobj=resetpasswordgroup.get("email");
            @if(emailobj?.getError('required'))
            {
            <p class="text-info mt-1 font-sm">u have to enter email</p>
            }

            @if(emailobj?.getError('email'))
            {
                <p class="text-info mt-1 font-sm">u have to enter corect email like alaa gmail.com</p>
            }

       }  
      
         <label for="newPassword">newPassword</label>
        <input formControlName="newPassword"  class="form-control" type="password" id="password">
         @let passwordobj=resetpasswordgroup.get("newPassword");
        @if(resetpasswordgroup.get('newPassword')?.touched)
       {
          
            @if(passwordobj?.getError('required'))
            {
            <p class="text-info mt-1 font-sm">u have to enter password</p>
            }
       }  
 
       <div class="d-flex justify-content-end  align-items-baseline">
         <button  class="btn btn-success px-3 mt-2 " [disabled]="resetpasswordgroup.invalid || isloading">
          @if(isloading==false)
          {
               <span>submit</span>
          }
          @else {
              <span class="fa-solid fa-spinner fa-spin"></span>
          }
      
        </button>
     
       </div>
    </form>

</div>

